<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>忘記密碼</title>
    @Styles.Render("~/Styles/Common")
    @Styles.Render("~/Styles/Register")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
     @Scripts.Render("~/bundles/jqueryval")
   
</head>
<body>

<div id="body" class="lrp_login" >
    <div class="lrp_wrap_outer">
        <h1>忘記密碼</h1>
        <p>請輸入您註冊會員資料時填寫的email帳號，經系統確認後，將發送您的密碼至電子郵件信箱。</p>
        <div class="lrp_fill_data">
            <form id="form_fill_data">
            <dl class="lrp_member_data">
                <dt>會員帳號</dt>
                <dd><input id="strEMail" name="strEMail" type="email" data-val="true" data-val-remote="Error" 
                    data-val-remote-url="@Url.Action("Exist_Validate", "Login", new { area = "Login" })"
                    data-val-required="請輸入您註冊時使用的電子郵件，謝謝"
                    data-val-email="電子郵件格式錯誤，請重新輸入，謝謝!"
                    aria-required="true" maxlength="100"><span id="email_alert" class="lrp_text_alert" data-valmsg-for="strEMail" data-valmsg-replace="true"></span></dd>
            </dl>
            </form>
        </div>
        <div class="lrp_wcenter"><input type="button" class="lrp_btn_com_sub" value="確認送出" onclick="ForgetPassword()" /></div>
    </div>
</div>
<!-- PopUp訊息視窗Start  請將此段貼入"_Layout"-->
    <div id="PopArea" class="lrp_popup_wrap" style="display: none;">
        <div class="lrp_popup">
            <span class="lrp_popup_btn_close" title="close" onclick="ClosePop();"></span>
            <div class="lrp_wrap_inner">
                <h4 id="PopTitle">
                    訊息視窗</h4>
                <input id="hidGotoURL" type="hidden" />
                <p id="PopMessage">
                </p>
            </div>
            <div class="lrp_wcenter">
                <input type="button" class="lrp_btn_com_sub" value="確認" onclick="ClosePop();" /></div>
        </div>
    </div>
    <!-- PopUp訊息視窗End -->
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.lrp_text_remind').hide();

        // Validation setting
        $('#form_fill_data').removeData("validator");
        $('#form_fill_data').removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($('#form_fill_data'));

        $('#strEMail').keydown(function (event) {
            if (event.keyCode == 13) event.preventDefault();
        });
    });

    function ForgetPassword() {
      

       //由於手機版按下送出後出現發信與格式驗證同步執行的問題，故再執行一次檢查程式避免手機版出問題
        var Warning=1;
       $.ajax({
                url: '@Url.Action("Exist_Validate", "Login", new { area = "Login" })',
                data: {strEMail:$("#strEMail").val()},
                type: 'POST',
                async: false,
                cache: true,
                success: function (success) {                    
                    
                    if (success == true) {
                       Warning=0;
                       } // if
                    else{
                    Warning=1;
                       }
                   
                }
            }); //End ajax
       
       
       
        if ($('#form_fill_data').valid() && Warning==0) {
            $.ajax({
                url: '@Url.Action("ForgetPasswordSubmit", "Login", new { area = "Login" })',
                data: $("#form_fill_data").serialize(),
                type: 'POST',
                async: false,
                cache: true,
                success: function (success) {
                    if (success == "done") {
                        OpenPop("", "您的密碼已寄至Email帳號中！請至個人信箱收取您的密碼，即可重新登入！謝謝\n(提醒您: 請同步檢查您的垃圾信件匣)", "@Url.Action("Login", "Login", new { area = "Login" })");
                    } // if
                   
                }
            }); //End ajax
        } // if: verify ok
        else {
            $('#strEMail').focus();
        } // else: focus feild
    }
     //【開始貼入_Layout】跟register的一樣擇一貼即可
    //開啟PopUp訊息視窗
    //Tital:訊息視窗標題，沒有就預設
    //Message:訊息視窗內文
    //gotoURL:關閉訊息視窗後，需導向的頁面網址，空值就不導頁
    function OpenPop(Title, Message, gotoURL) {
        if (Title != "") {
            $("#PopTitle").html(Title);
        }
        if (gotoURL != "") {
            $("#hidGotoURL").val(gotoURL);
        }

        $("#PopMessage").html(Message);
        $("#PopArea").show();
    }

    //關閉PopUp訊息視窗，並在關閉後初始化PopUp視窗
    function ClosePop() {
        $("#PopTitle").html("訊息視窗");
        $("#PopMessage").html('');
        $("#PopArea").hide();
        if ($("#hidGotoURL").val() != "") {
            window.location = $("#hidGotoURL").val();
        }
    }
    //【停止貼入_Layout】
</script>
