<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>會員註冊</title>
    @Styles.Render("~/Styles/Common")
    @Styles.Render("~/Styles/Register")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Register")
</head>
<body>
    <div id="body" class="lrp_login">
        <div class="lrp_wrap_outer">
            <h1>
                會員基本資料填寫</h1>
            <p>
                請正確填寫您的個人相關資料。當您兌禮或參加活動時，會依您所填寫的資料寄發相關訊息及禮品。</p>
            <!-- 表單開始 -->
            <form id="FormSubmitObj">
            <div class="lrp_fill_data">
                <dl class="lrp_member_data">
                    <dt>帳號<dfn>*</dfn></dt><!-- FB註冊時自動帶入帳號，隱藏remind -->
                    <dd>
                        <input type="email" id="strEMail" name="strEMail" value=""/>
                        <span class="lrp_text_remind" id="remindEMail">請輸入有效的E-Mail帳號，以確保您能收到相關訊息通知</span>
                    </dd>
                    <!-- remind跟alert擇一出現 -->
                </dl>
                <dl class="lrp_member_data">
                    <!-- FB註冊時隱藏 -->
                    <dt>密碼<dfn>*</dfn></dt>
                    <dd>
                        <input type="password" id="strPassword" name="strPassword"/>
                        <span class="lrp_text_remind" id="remindPassword">請輸入6~12位的英文加數字</span>
                    </dd>
                </dl>
                <dl class="lrp_member_data">
                    <!-- FB註冊時隱藏 -->
                    <dt>密碼確認<dfn>*</dfn></dt>
                    <dd>
                        <input type="password" id="checkPassword" name="checkPassword" />
                    </dd>
                </dl>
                <dl class="lrp_member_data">
                    <dt>姓名<dfn>*</dfn></dt>
                    <dd>
                        <input type="text" id="strName" name="strName"/>
                        <span class="lrp_text_remind" id="remindName">請輸入您的真實中文姓名</span>
                    </dd>
                </dl>
                <dl class="lrp_member_data">
                    <dt>手機<dfn>*</dfn></dt>
                    <dd>
                        <input type="tel" id="strMobile" name="strMobile"/>
                    </dd>
                </dl>
                <dl class="lrp_member_data">
                    <dt>生日<dfn>*</dfn></dt>
                    <dd>
                        <input type="text" id="dtmBirth" name="dtmBirth" readonly="readonly" />
                    </dd>
                </dl>
                <dl class="lrp_member_data" id="AddressField">                    
                    <dt>地址<dfn>*</dfn></dt>
                    <!--【城市區域下拉選單】請更改Action路徑 -->
                    <dd>
                        <select id="strCity" name="strCity" onchange="fCityChange($(this));">@Html.Action("CityList", "CitySelect", new { area = "CitySelect" })
                        </select>
                        <select id="intZipCode" name="intZipCode">@Html.Action("AreaList", "CitySelect", new { area = "CitySelect", intCityCode = 0 })
                        </select>
                        <input type="text" id="strAddress" name="strAddress" class="address"/>
                    </dd>                    
                </dl>
                <p id="CheckAgreeArea">
                    <label for="CheckAgree">
                        <input type="checkbox" id="CheckAgree" name="CheckAgree" checked="true"/>我已詳閱並同意理膚寶水
                        <a href="" title="">版權與服務說明</a>及<a href="" title="">隱私權政策</a></label></p>
                <p>
                    <span class="lrp_text_remind">★提醒您！填寫完整的會員資料，可立即兌換試用品及獲得會員積點！</span></p>                    
            </div>
            <div class="lrp_wcenter">
                <input id="btnSendOut" type="button" class="lrp_btn_com_sub" value="確認送出" onclick="fSendOut();"
                    onkeypress="fSendOut();"/></div>
            </form>
            <!-- 表單結束 -->
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        //設定日期選擇器
        $('#dtmBirth').datepicker({
            dateFormat: 'yy-mm-dd',
            duration: 0,
            changeYear: true,
            changeMonth: true,
            showButtonPanel: true,
            maxDate: "0",
            yearRange: "-100:+0"
        }); //End datepicker 

        //新增自訂規則:信箱不重複
        jQuery.validator.addMethod('EmailUnique', function (value, element) {
            var Unique = false;
            $.ajax({
                url: '@Url.Action("IsExistMember", "Register", new { area = "Register" })',
                data: { strEMail: $('#strEMail').val() },
                type: 'POST',
                async: false,
                cache: true,
                success: function (isRepeat) {
                    if (isRepeat) {
                        Unique = false;
                    }
                    else {
                        Unique = true;
                    }
                }
            });     //End ajax
            return Unique;
        }, "此會員帳號(E-Mail)已註冊過了，請輸入另一組帳號，謝謝!");

        //新增自訂規則:手機格式
        jQuery.validator.addMethod('isMobile', function (value, element) {
            var Mobile = /^09[0-9]{8}$/;
            return Mobile.test(value);
        }, "手機號碼格式不正確");

        //新增自訂規則:姓名+手機不重複
        jQuery.validator.addMethod('MemberUnique', function (value, element) {
            var Unique = false;
            if ($('#strName').val() == "" || $('#strMobile').val() == "") {
                Unique = true;
            }
            else {
                $.ajax({
                    url: '@Url.Action("IsExistMember", "Register", new { area = "Register" })',
                    data: { strName: $('#strName').val(), strMobile: $('#strMobile').val() },
                    type: 'POST',
                    async: false,
                    cache: true,
                    success: function (isRepeat) {
                        if (isRepeat) {
                            Unique = false;
                        }
                        else {
                            Unique = true;
                        }
                    }
                });      //End ajax
            }
            return Unique;
        }, function () {
            $('#strMobile').val("");
            $('#strName').val("");
            $('#strName').focus();
            return "此會員已註冊過了，請輸入另一組會員資料，謝謝!";
        });

        //新增自訂規則:密碼
        jQuery.validator.addMethod('isPassword', function (value, element) {
            var Number = /[0-9]/;
            var Letter = /[a-zA-Z]/;
            var Symbol = /[^a-zA-Z0-9]/;

            return (value.match(Number) && value.match(Letter) && !value.match(Symbol));
        }, "密碼格式不正確，請包含數字及英文");

        //設定驗證表單(可參考: http://www.runoob.com/jquery/jquery-plugin-validate.html )
        $("#FormSubmitObj").validate({

            //若此表單(form)未通過驗證則要進行此動作
            invalidHandler: function (form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    //focus且滑動到第一個錯誤的欄位
                    var firstInvalidElement = $(validator.errorList[0].element);
                    $('html,body').scrollTop(firstInvalidElement.offset().top);
                    firstInvalidElement.focus();
                } //if (errors)
            }, //invalidHandler
            //不要在"按鍵放開時"檢查
            onkeyup: false,
            //不要在"被點擊時"檢查
            onclick: false,
            //警語標籤
            errorElement: "span",
            //警語標籤Class屬性
            errorClass: "lrp_text_alert",
            //未通過驗證之input的Class設定(沒有的話要給空值，不然可能會跑版)
            highlight: "",
            //檢查規則
            //input的Name:{}
            rules: {
                strEMail: { required: true, email: true, EmailUnique: true },
                strPassword: { required: true, rangelength: [6, 12], isPassword: true },
                checkPassword: { required: true, equalTo: "#strPassword" },
                strName: { required: true, MemberUnique: true },
                strMobile: { required: true, isMobile: true, MemberUnique: true },
                dtmBirth: { required: true },
                strCity: { required: true, min: 1 },
                intZipCode: { required: true, min: 1 },
                strAddress: { required: true },
                CheckAgree: { required: true }
            },
            //設為群組的input只會產生一個警語
            groups: {
                AddressArea: "strCity intZipCode strAddress"
            },
            //警語內容
            //input的Name:{規則名:"警語內容"}
            messages: {
                strEMail: { required: "帳號(E-mail)為必要欄位，不可空白",
                    email: "E-Mail格式錯誤，請重新輸入，謝謝!"
                },
                strPassword: { required: "密碼為必要欄位，不可空白",
                    rangelength: "密碼格式不正確，請輸入6-12個字元"
                },
                checkPassword: { required: "確認密碼為必要欄位，不可空白",
                    equalTo: "確認密碼不正確，請重新輸入"
                },
                strName: { required: "姓名為必要欄位，不可空白" },
                strMobile: { required: "手機為必要欄位，不可空白" },
                dtmBirth: "生日為必要欄位，不可空白",
                strCity: "地址為必要欄位，不可空白",
                intZipCode: "地址為必要欄位，不可空白",
                strAddress: "地址為必要欄位，不可空白",
                CheckAgree: "請勾選"
            },
            //顯示警語的動作
            //error=警語標籤，element=違規的元素
            errorPlacement: function (error, element) {

                switch (element.attr('name')) {
                    //隱藏提示訊息                    
                    case 'strEMail':
                        $('#remindEMail').remove();
                        error.insertAfter(element);
                        break;
                    case 'strPassword':
                        $('#remindPassword').remove();
                        error.insertAfter(element);
                        break;
                    case 'strName':
                        $('#remindName').remove();
                        error.insertAfter(element);
                        break;
                    //調整警語位置                    
                    case 'CheckAgree':
                        error.insertAfter('#CheckAgreeArea');
                        break;
                    case 'strCity':
                    case 'intZipCode':
                    case 'strAddress':
                        error.insertAfter('#strAddress');
                        break;
                    default:
                        error.insertAfter(element);
                        break;
                }
            }
        }); //$("#ResponsedComments").validate({.....});

        //若"生日"有值，則清掉警語(因為無法再onblur時檢查，故另外加寫)
        $('#dtmBirth').on('change', function () {
            if ($('#dtmBirth').val() != "") { $('#dtmBirth-error').remove(); }
        });

    });   //$(document).ready()

    //選擇城市後改變區域選單內容
    function fCityChange(varCityObj) {
        var varIntCityCode = varCityObj.val();
        $.ajax({
            url: '@Url.Action("AreaList", "CitySelect", new { area = "CitySelect" })',
            data: { intCityCode: varIntCityCode },
            type: "POST",
            async: true,
            cache: true,
            success: function (list) {
                $('#intZipCode option').remove();
                $('#intZipCode').append(list);
            }
        });
    } // fCityChange()

    //按下"確認發送"
    function fSendOut() {
        
        //先移除按鈕功能，避免手抖送出多筆資料
        $('#btnSendOut').removeAttr("onclick");
        $('#btnSendOut').removeAttr("onkeypress");

        if ($("#FormSubmitObj").valid()) {

            //送出註冊資料並寄出開通驗證信
            $.ajax({
                url: '@Url.Action("actSubmitRegister", "Register", new { area = "Register" })',
                data: $("#FormSubmitObj").serialize(),
                type: 'POST',
                async: false,
                cache: true,
                success: function (resault) {
                    if (resault) {
                        //導入註冊完成頁面(按"上一頁"的話會跳轉到註冊選擇頁)
                        location.replace('@Url.Action("RegisterThanks", "Register", new { area = "Register" })');
                    }
                    else {
                        $('#strEMail').valid();
                        $('#strName').valid();
                        //還原按鈕功能
                        $('#btnSendOut').attr("onclick", "fSendOut();");
                        $('#btnSendOut').attr("onkeypress", "fSendOut();");
                    }
                }
            });   //End ajax            
        } //if ($("#FormSubmitObj").valid()) 
        else {
            //還原按鈕功能
            $('#btnSendOut').attr("onclick", "fSendOut();");
            $('#btnSendOut').attr("onkeypress", "fSendOut();");
        }
    } //End fSendOut()




</script>
